doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="shortcut icon", href ="assets/cam.png")
        title Films
    body
        include ./header.pug
        section.films__section
            article.films__a1 
                p.title #{films.Title}
                img.films__img(src=`${films.Poster}`, alt="movie.img")
            article.films__a2
                p Director: 
                p.director #{films.Director}
                p Año:
                p.year #{films.Year}
                p Protagonistas: 
                p.actors #{films.Actors}
                p Puntuacion: 
                p.points #{films.imdbRating}
                p Premios:
                p.awards #{films.Awards}
                p Descripción:
                p.description #{films.Plot}